In [266]:
from datetime import datetime, timedelta, date
from dateutil.relativedelta import relativedelta
import pandas as pd
from pandasql import sqldf
import streamlit as st
import json
import pickle
import http.client
import certifi
import ssl
import os
import altair as alt
import pytz
import numpy as np
tz = pytz.timezone('America/Edmonton')

In [ ]:
with open('./current_df.pickle', 'rb') as token:
    current_df = pickle.load(token)
current_df = current_df[1]
current_df

In [ ]:
#@st.experimental_singleton()
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

cred = credentials.Certificate(st.secrets["gcp_service_account"])
app = firebase_admin.initialize_app(cred)
db = firestore.client()

In [400]:
# Set path to Firestore DB
currentData_ref = db.collection(u'appData').document('currentData')
# Update current_df data in Firestore DB
currentData_ref.set(current_df.to_dict('list'))

dict_keys(['timeStamp', 'value', 'fuelType'])

In [414]:
# Set path to Firestore DB
currentData_ref = db.collection(u'appData').document('currentData')
# Read current_df from Firestore
current_df = pd.DataFrame.from_dict(currentData_ref.get().to_dict())
current_df['timeStamp'] = current_df['timeStamp'].dt.tz_convert('America/Edmonton') 
current_df

                     timeStamp    fuelType   value
0    2022-10-12 00:00:00-06:00        Coal  814.00
1    2022-10-12 00:05:00-06:00        Coal  818.00
2    2022-10-12 00:10:00-06:00        Coal  821.00
3    2022-10-12 00:15:00-06:00        Coal  817.00
4    2022-10-12 00:20:00-06:00        Coal  818.00
...                        ...         ...     ...
2287 2022-10-12 15:30:00-06:00  Pool Price   60.00
2288 2022-10-12 15:35:00-06:00  Pool Price   60.00
2289 2022-10-12 15:40:00-06:00  Pool Price   60.00
2290 2022-10-12 15:45:00-06:00  Pool Price   60.33
2291 2022-10-12 15:50:00-06:00  Pool Price   60.33

[2292 rows x 3 columns]