In [14]:
# Initialize python libs & SQL creads
from datetime import datetime, timedelta, date
from dateutil.relativedelta import relativedelta
import pandas as pd
from pandasql import sqldf
import streamlit as st
import pull_nrg_data
import json
import http.client
import certifi
import ssl
import os
import timeit
import pickle
import altair as alt
import pytz
import numpy as np

In [6]:
def release_token(accessToken):
    path = '/api/ReleaseToken'
    server = 'api.nrgstream.com'
    headers = {'Authorization': f'Bearer {accessToken}'}
    context = ssl.create_default_context(cafile=certifi.where())
    conn = http.client.HTTPSConnection(server,context=context)
    conn.request('DELETE', path, None, headers)
    res = conn.getresponse()

with open('./default_pickle.pickle', 'rb') as handle:
    default_pickle = pickle.load(handle)

release_token(default_pickle['accessToken'])

In [12]:
t = datetime.now(pytz.timezone('America/Edmonton')).date() - timedelta(days=8)
t2 = datetime.now(pytz.timezone('America/Edmonton')) - timedelta(days=8)
default_pickle = {
    'accessToken':'',
    'current_data':'',
    'daily_outage_dfs':[0]*7,
    'monthly_outage_dfs':[0]*7,
    'alert_dates':{
        'Biomass & Other':t, 
        'Coal':t,
        'Dual Fuel':t,
        'Energy Storage':t,
        'Hydro':t,
        'Natural Gas':t,
        'Solar':t,
        'Wind':t,
        'Intertie':t
    }
}
with open('./default_pickle.pickle', 'wb') as handle:
    pickle.dump(default_pickle, handle, protocol=pickle.HIGHEST_PROTOCOL)
# Add default current values to dict
with open('./current_df.pickle', 'rb') as handle:
    current_df = pickle.load(handle)
default_pickle['current_data'] = current_df
# Add default monthly values to dict
with open('./monthly_df.pickle', 'rb') as handle:
    monthly = pickle.load(handle)
for i in range(7):
    default_pickle['monthly_outage_dfs'][i] = (t2,monthly)
# Add default daily values to dict
with open('./daily_df.pickle', 'rb') as handle:
    daily = pickle.load(handle)
for i in range(7):
    default_pickle['daily_outage_dfs'][i] = (t2,daily)
with open('./default_pickle.pickle', 'wb') as handle:
    pickle.dump(default_pickle, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [28]:
with open('./default_pickle.pickle', 'rb') as handle:
    default_pickle = pickle.load(handle)
default_pickle

{'accessToken': 'BQv1n9_gMdpXflqVYFy6oF_A60bWZZg9qWMNiyz3YqEeaQbXq0HX_L1xdO07Dak3dzh8_r1kq6i3GZsbNNL9JffhVj4VRElnaqskF1DGZGowArJqBK33XwVIz5QLeWHcLFn7HNykvs0Z_wXr9nPfB_-VBv-pEKBrNfaPgkYW2akqwooygkJAvA1rDQjExHu2AmOGligGOaORNuX_INvYSneDCV2GCiSoLkpshBKnlQP--oc2iHMz4Kh3cQFCKYUW8u0jjndx1IGCO1nym3DZQ5Jt7vV7UarIzAHGrnqMH379tnjxDfZvMEEqiEpbugF-2BG6IOPDP_RZG2WyRrDFuORn9ds',
 'current_data': (datetime.datetime(2022, 9, 14, 19, 46, 36, 586202, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp    value    fuelType
  0   2022-09-14 00:00:00-06:00  1260.00        Coal
  1   2022-09-14 00:05:00-06:00  1258.00        Coal
  2   2022-09-14 00:10:00-06:00  1262.00        Coal
  3   2022-09-14 00:15:00-06:00  1264.00        Coal
  4   2022-09-14 00:20:00-06:00  1258.00        Coal
  ..                        ...      ...         ...
  233 2022-09-14 19:25:00-06:00   878.18  Pool Price
  234 2022-09-14 19:30:00-06:00   878.18  Pool Price
  235 2022-09-14 19:35:00-06:00   878.18  Pool Price
  236 2022-09-14 19:40:00-06:00   878.18  Pool Price
  237 2022-09-14 19:45:00-06:00   878.18  Pool Price

  [2856 rows x 3 columns]),
 'daily_outage_dfs': [(datetime.datetime(2022, 9, 4, 13, 52, 29, 897614, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value  fuelType
   0  2022-09-12 00:00:00-06:00    750  Intertie
   1  2022-09-13 00:00:00-06:00      0  Intertie
   2  2022-09-14 00:00:00-06:00      0  Intertie
   3  2022-09-15 00:00:00-06:00      0  Intertie
   4  2022-09-16 00:00:00-06:00      0  Intertie
   ..                       ...    ...       ...
   86 2022-12-07 00:00:00-07:00      0      Wind
   87 2022-12-08 00:00:00-07:00      0      Wind
   88 2022-12-09 00:00:00-07:00      0      Wind
   89 2022-12-10 00:00:00-07:00      0      Wind
   90 2022-12-11 00:00:00-07:00      0      Wind

   [819 rows x 3 columns]),
  (datetime.datetime(2022, 9, 4, 13, 52, 29, 897614, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value  fuelType
   0  2022-09-12 00:00:00-06:00    750  Intertie
   1  2022-09-13 00:00:00-06:00      0  Intertie
   2  2022-09-14 00:00:00-06:00      0  Intertie
   3  2022-09-15 00:00:00-06:00      0  Intertie
   4  2022-09-16 00:00:00-06:00      0  Intertie
   ..                       ...    ...       ...
   86 2022-12-07 00:00:00-07:00      0      Wind
   87 2022-12-08 00:00:00-07:00      0      Wind
   88 2022-12-09 00:00:00-07:00      0      Wind
   89 2022-12-10 00:00:00-07:00      0      Wind
   90 2022-12-11 00:00:00-07:00      0      Wind

   [819 rows x 3 columns]),
  (datetime.datetime(2022, 9, 4, 13, 52, 29, 897614, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value  fuelType
   0  2022-09-12 00:00:00-06:00    750  Intertie
   1  2022-09-13 00:00:00-06:00      0  Intertie
   2  2022-09-14 00:00:00-06:00      0  Intertie
   3  2022-09-15 00:00:00-06:00      0  Intertie
   4  2022-09-16 00:00:00-06:00      0  Intertie
   ..                       ...    ...       ...
   86 2022-12-07 00:00:00-07:00      0      Wind
   87 2022-12-08 00:00:00-07:00      0      Wind
   88 2022-12-09 00:00:00-07:00      0      Wind
   89 2022-12-10 00:00:00-07:00      0      Wind
   90 2022-12-11 00:00:00-07:00      0      Wind

   [819 rows x 3 columns]),
  (datetime.datetime(2022, 9, 4, 13, 52, 29, 897614, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value  fuelType
   0  2022-09-12 00:00:00-06:00    750  Intertie
   1  2022-09-13 00:00:00-06:00      0  Intertie
   2  2022-09-14 00:00:00-06:00      0  Intertie
   3  2022-09-15 00:00:00-06:00      0  Intertie
   4  2022-09-16 00:00:00-06:00      0  Intertie
   ..                       ...    ...       ...
   86 2022-12-07 00:00:00-07:00      0      Wind
   87 2022-12-08 00:00:00-07:00      0      Wind
   88 2022-12-09 00:00:00-07:00      0      Wind
   89 2022-12-10 00:00:00-07:00      0      Wind
   90 2022-12-11 00:00:00-07:00      0      Wind

   [819 rows x 3 columns]),
  (datetime.datetime(2022, 9, 4, 13, 52, 29, 897614, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value  fuelType
   0  2022-09-12 00:00:00-06:00    750  Intertie
   1  2022-09-13 00:00:00-06:00      0  Intertie
   2  2022-09-14 00:00:00-06:00      0  Intertie
   3  2022-09-15 00:00:00-06:00      0  Intertie
   4  2022-09-16 00:00:00-06:00      0  Intertie
   ..                       ...    ...       ...
   86 2022-12-07 00:00:00-07:00      0      Wind
   87 2022-12-08 00:00:00-07:00      0      Wind
   88 2022-12-09 00:00:00-07:00      0      Wind
   89 2022-12-10 00:00:00-07:00      0      Wind
   90 2022-12-11 00:00:00-07:00      0      Wind

   [819 rows x 3 columns]),
  (datetime.datetime(2022, 9, 12, 14, 0, 13, 743524, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                       timeStamp  value  fuelType
   0   2022-09-12 00:00:00-06:00    750  Intertie
   1   2022-09-13 00:00:00-06:00      0  Intertie
   2   2022-09-14 00:00:00-06:00      0  Intertie
   3   2022-09-15 00:00:00-06:00      0  Intertie
   4   2022-09-16 00:00:00-06:00      0  Intertie
   ..                        ...    ...       ...
   105 2022-12-26 00:00:00-07:00      0      Wind
   106 2022-12-27 00:00:00-07:00      0      Wind
   107 2022-12-28 00:00:00-07:00      0      Wind
   108 2022-12-29 00:00:00-07:00      0      Wind
   109 2022-12-30 00:00:00-07:00      0      Wind

   [1233 rows x 3 columns]),
  (datetime.datetime(2022, 9, 14, 19, 44, 56, 442337, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value              fuelType
   0  2022-09-14 00:00:00-06:00  441.0              Intertie
   1  2022-09-14 01:00:00-06:00  472.0              Intertie
   2  2022-09-14 02:00:00-06:00  472.0              Intertie
   3  2022-09-14 03:00:00-06:00  472.0              Intertie
   4  2022-09-14 04:00:00-06:00  472.0              Intertie
   ..                       ...    ...                   ...
   71 2022-09-16 23:00:00-06:00    0.0  3-Day Solar Forecast
   72 2022-09-17 00:00:00-06:00    0.0  3-Day Solar Forecast
   73 2022-09-17 01:00:00-06:00    0.0  3-Day Solar Forecast
   74 2022-09-17 02:00:00-06:00    0.0  3-Day Solar Forecast
   75 2022-09-17 03:00:00-06:00    0.0  3-Day Solar Forecast

   [29420 rows x 3 columns])],
 'monthly_outage_dfs': [(datetime.datetime(2022, 9, 4, 13, 52, 29, 897614, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value         fuelType
   9  2022-10-01 00:00:00-06:00    470             Coal
   10 2022-11-01 00:00:00-06:00     30             Coal
   11 2022-12-01 00:00:00-07:00      0             Coal
   9  2022-10-01 00:00:00-06:00   1140      Natural Gas
   10 2022-11-01 00:00:00-06:00    740      Natural Gas
   ..                       ...    ...              ...
   4  2024-05-01 00:00:00-06:00     30  Biomass & Other
   5  2024-06-01 00:00:00-06:00     30  Biomass & Other
   6  2024-07-01 00:00:00-06:00     30  Biomass & Other
   7  2024-08-01 00:00:00-06:00     30  Biomass & Other
   8  2024-09-01 00:00:00-06:00     30  Biomass & Other

   [192 rows x 3 columns]),
  (datetime.datetime(2022, 9, 4, 13, 52, 29, 897614, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value         fuelType
   9  2022-10-01 00:00:00-06:00    470             Coal
   10 2022-11-01 00:00:00-06:00     30             Coal
   11 2022-12-01 00:00:00-07:00      0             Coal
   9  2022-10-01 00:00:00-06:00   1140      Natural Gas
   10 2022-11-01 00:00:00-06:00    740      Natural Gas
   ..                       ...    ...              ...
   4  2024-05-01 00:00:00-06:00     30  Biomass & Other
   5  2024-06-01 00:00:00-06:00     30  Biomass & Other
   6  2024-07-01 00:00:00-06:00     30  Biomass & Other
   7  2024-08-01 00:00:00-06:00     30  Biomass & Other
   8  2024-09-01 00:00:00-06:00     30  Biomass & Other

   [192 rows x 3 columns]),
  (datetime.datetime(2022, 9, 4, 13, 52, 29, 897614, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value         fuelType
   9  2022-10-01 00:00:00-06:00    470             Coal
   10 2022-11-01 00:00:00-06:00     30             Coal
   11 2022-12-01 00:00:00-07:00      0             Coal
   9  2022-10-01 00:00:00-06:00   1140      Natural Gas
   10 2022-11-01 00:00:00-06:00    740      Natural Gas
   ..                       ...    ...              ...
   4  2024-05-01 00:00:00-06:00     30  Biomass & Other
   5  2024-06-01 00:00:00-06:00     30  Biomass & Other
   6  2024-07-01 00:00:00-06:00     30  Biomass & Other
   7  2024-08-01 00:00:00-06:00     30  Biomass & Other
   8  2024-09-01 00:00:00-06:00     30  Biomass & Other

   [192 rows x 3 columns]),
  (datetime.datetime(2022, 9, 4, 13, 52, 29, 897614, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value         fuelType
   9  2022-10-01 00:00:00-06:00    470             Coal
   10 2022-11-01 00:00:00-06:00     30             Coal
   11 2022-12-01 00:00:00-07:00      0             Coal
   9  2022-10-01 00:00:00-06:00   1140      Natural Gas
   10 2022-11-01 00:00:00-06:00    740      Natural Gas
   ..                       ...    ...              ...
   4  2024-05-01 00:00:00-06:00     30  Biomass & Other
   5  2024-06-01 00:00:00-06:00     30  Biomass & Other
   6  2024-07-01 00:00:00-06:00     30  Biomass & Other
   7  2024-08-01 00:00:00-06:00     30  Biomass & Other
   8  2024-09-01 00:00:00-06:00     30  Biomass & Other

   [192 rows x 3 columns]),
  (datetime.datetime(2022, 9, 4, 13, 52, 29, 897614, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value         fuelType
   9  2022-10-01 00:00:00-06:00    470             Coal
   10 2022-11-01 00:00:00-06:00     30             Coal
   11 2022-12-01 00:00:00-07:00      0             Coal
   9  2022-10-01 00:00:00-06:00   1140      Natural Gas
   10 2022-11-01 00:00:00-06:00    740      Natural Gas
   ..                       ...    ...              ...
   4  2024-05-01 00:00:00-06:00     30  Biomass & Other
   5  2024-06-01 00:00:00-06:00     30  Biomass & Other
   6  2024-07-01 00:00:00-06:00     30  Biomass & Other
   7  2024-08-01 00:00:00-06:00     30  Biomass & Other
   8  2024-09-01 00:00:00-06:00     30  Biomass & Other

   [192 rows x 3 columns]),
  (datetime.datetime(2022, 9, 12, 14, 0, 34, 184434, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value         fuelType
   9  2022-10-01 00:00:00-06:00    470             Coal
   10 2022-11-01 00:00:00-06:00     30             Coal
   11 2022-12-01 00:00:00-07:00      0             Coal
   9  2022-10-01 00:00:00-06:00   1140      Natural Gas
   10 2022-11-01 00:00:00-06:00    740      Natural Gas
   ..                       ...    ...              ...
   4  2024-05-01 00:00:00-06:00     30  Biomass & Other
   5  2024-06-01 00:00:00-06:00     30  Biomass & Other
   6  2024-07-01 00:00:00-06:00     30  Biomass & Other
   7  2024-08-01 00:00:00-06:00     30  Biomass & Other
   8  2024-09-01 00:00:00-06:00     30  Biomass & Other

   [192 rows x 3 columns]),
  (datetime.datetime(2022, 9, 14, 19, 45, 30, 947715, tzinfo=<DstTzInfo 'America/Edmonton' MDT-1 day, 18:00:00 DST>),
                      timeStamp  value         fuelType
   9  2022-10-01 00:00:00-06:00    470             Coal
   10 2022-11-01 00:00:00-06:00     30             Coal
   11 2022-12-01 00:00:00-07:00      0             Coal
   9  2022-10-01 00:00:00-06:00   1160      Natural Gas
   10 2022-11-01 00:00:00-06:00    740      Natural Gas
   ..                       ...    ...              ...
   4  2024-05-01 00:00:00-06:00     30  Biomass & Other
   5  2024-06-01 00:00:00-06:00     30  Biomass & Other
   6  2024-07-01 00:00:00-06:00     30  Biomass & Other
   7  2024-08-01 00:00:00-06:00     30  Biomass & Other
   8  2024-09-01 00:00:00-06:00     30  Biomass & Other

   [192 rows x 3 columns])],
 'alert_dates': {'Biomass & Other': datetime.date(2022, 9, 4),
  'Coal': datetime.date(2022, 9, 4),
  'Dual Fuel': datetime.date(2022, 9, 4),
  'Energy Storage': datetime.date(2022, 9, 4),
  'Hydro': datetime.date(2022, 9, 4),
  'Natural Gas': datetime.date(2022, 9, 12),
  'Solar': datetime.date(2022, 9, 12),
  'Wind': datetime.date(2022, 9, 4),
  'Intertie': datetime.date(2022, 9, 13)}}

In [39]:
with open('./daily_df.pickle', 'rb') as handle:
    daily = pickle.load(handle)
daily

                   timeStamp  value  fuelType
0  2022-09-12 00:00:00-06:00    750  Intertie
1  2022-09-13 00:00:00-06:00      0  Intertie
2  2022-09-14 00:00:00-06:00      0  Intertie
3  2022-09-15 00:00:00-06:00      0  Intertie
4  2022-09-16 00:00:00-06:00      0  Intertie
..                       ...    ...       ...
86 2022-12-07 00:00:00-07:00      0      Wind
87 2022-12-08 00:00:00-07:00      0      Wind
88 2022-12-09 00:00:00-07:00      0      Wind
89 2022-12-10 00:00:00-07:00      0      Wind
90 2022-12-11 00:00:00-07:00      0      Wind

[819 rows x 3 columns]

In [10]:
datetime.now(pytz.timezone('America/Edmonton')).date() + relativedelta(days=7)

datetime.date(2022, 9, 21)

In [7]:
 datetime.now(pytz.timezone('America/Edmonton')).date() + relativedelta(months=4, day=1)

datetime.date(2023, 1, 1)

In [15]:
a = datetime(2022,9,15,5,55)
a.dt.tz_localize(pytz.timezone('America/Edmonton'))

AttributeError: 'datetime.datetime' object has no attribute 'dt'