In [12]:
import mysql.connector
import pandas as pd
# Connect to MySQL
nrgdata = mysql.connector.connect(user='victusai', password='#p!k4XG2Mg#,B,W', host='localhost', database='nrgdata')
mycursor = nrgdata.cursor()

In [ ]:
# Create Table
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [14]:
df = pd.read_csv('test.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8928 entries, 0 to 8927
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timeStamp     8928 non-null   object
 1   value         8928 non-null   int64
 2   streamId      8928 non-null   int64
 3   assetCode     8928 non-null   object
 4   streamName    8928 non-null   object
 5   fuelType      8928 non-null   object
 6   subfuelType   8928 non-null   object
 7   timeInterval  8928 non-null   object
 8   intervalType  8928 non-null   object
dtypes: int64(2), object(7)
memory usage: 627.9+ KB

In [ ]:
# Insert into

In [ ]:
# Close connection
mycursor.close()
nrgdata.close()

In [15]:
sc = pd.read_csv('stream_codes.csv')
sc

,streamId,assetCode,streamName,fuelType,subfuelType,timeInterval,intervalType
0,293682,ANC1,AB Newsprint,Natural Gas,Simple Gas,1 min,supply
1,293686,ALP1,Bantry,Natural Gas,Simple Gas,1 min,supply
2,293689,BHL1,Bellshill,Natural Gas,Simple Gas,1 min,supply
3,293705,GEN5,Carson Creek,Natural Gas,Simple Gas,1 min,supply
4,293714,ENC1,Cloverbar #1,Natural Gas,Simple Gas,1 min,supply
...,...,...,...,...,...,...,...
511,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,1 min supp,162,525600,"85,147,200",NaN,NaN,NaN
513,5 min supp,173,105120,"18,185,760",NaN,NaN,NaN
514,5 min res,173,105120,"18,185,760",NaN,NaN,NaN
515,NaN,NaN,NaN,"121,518,720",NaN,NaN,NaN