In [13]:
# Initialize python libs & SQL creads
import pandas as pd
import mysql.connector
import pymysql
from sqlalchemy import create_engine
import streamlit as st

sql_user = st.secrets["sql_user"]
sql_pw = st.secrets["sql_password"]
sql_schema = st.secrets["sql_schema"]

In [ ]:
# Stream list
streams = pd.read_csv('stream_codes.csv')
a=[int(id) for id in streams[streams['timeInterval']=='5 min']['streamId'] if id >= 100]
print(a)

In [4]:
# Execute queries
try:
    connection = mysql.connector.connect(host='localhost',
                                         database=sql_schema,
                                         user=sql_user,
                                         password=sql_pw)

    query = "SELECT count(*) FROM nrgdata;"
    cursor = connection.cursor(buffered=True)
    cursor.execute(query)
    records = cursor.fetchall()
    print("Total number of rows in table: ", cursor.rowcount)
    for row in records:
        print("rows = ", row[0], )

except mysql.connector.Error as error:
    print("Failed: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Total number of rows in table:  1
rows =  30834175
MySQL connection is closed

In [54]:
# Create table (template code)
import mysql.connector
import pandas as pd

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='nrgdata',
                                         user='victusai',
                                         password='#p!k4XG2Mg#,B,W')

    create_table_query = """CREATE TABLE stream_codes (
                            timeStamp DATETIME,
                            value FLOAT,
                            streamId INT,
                            assetCode VARCHAR(4),
                            streamName VARCHAR(50),
                            fuelType VARCHAR(20),
                            subfuelType VARCHAR(20),
                            timeInterval VARCHAR(5),
                            intervalType VARCHAR(7),
                            PRIMARY KEY (streamId))"""

    cursor = connection.cursor()
    result = cursor.execute(create_table_query)
    print("table created successfully")

except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

table created successfully
MySQL connection is closed

In [12]:
# Insert dataframe into table
engine = create_engine(f'mysql+mysqlconnector://{sql_user}:{sql_pw}@localhost/{sql_schema}', echo=False)
df.to_sql(name='nrgdata', con=engine, if_exists = 'append', index=False)

8928

In [2]:
engine = create_engine(f'mysql+mysqlconnector://{sql_user}:{sql_pw}@localhost/{sql_schema}', echo=False)
df = pd.read_sql("SELECT timeStamp, fuelType, sum(value) FROM nrgdata.nrgdata GROUP BY timeStamp, fuelType", engine.connect())
pd.set_option('display.expand_frame_repr', False)
engine.connect().close()
df

                   timeStamp         fuelType  sum(value)
0        2020-01-01 00:00:00      Natural Gas      6623.0
1        2020-01-01 00:05:00      Natural Gas      6622.0
2        2020-01-01 00:10:00      Natural Gas      6622.0
3        2020-01-01 00:15:00      Natural Gas      6626.0
4        2020-01-01 00:20:00      Natural Gas      6625.0
...                      ...              ...         ...
1385563  2021-12-31 23:35:00  Biomass & Other       291.0
1385564  2021-12-31 23:40:00  Biomass & Other       291.0
1385565  2021-12-31 23:45:00  Biomass & Other       296.0
1385566  2021-12-31 23:50:00  Biomass & Other       291.0
1385567  2021-12-31 23:55:00  Biomass & Other       293.0

[1385568 rows x 3 columns]

In [ ]:
# Pull one day of data
from datetime import datetime, date, timedelta
import pandas as pd
import pull_nrg_data
import streamlit as st
import mysql.connector
from sqlalchemy import create_engine

sql_user = st.secrets["sql_user"]
sql_pw = st.secrets["sql_password"]
sql_schema = st.secrets["sql_schema"]

def sql_insert(df):
    engine = create_engine(f'mysql+mysqlconnector://{sql_user}:{sql_pw}@localhost/{sql_schema}', echo=False)
    df.to_sql(name=sql_schema, con=engine, if_exists = 'append', index=False)

def get_streams():
    streams = pd.read_csv('stream_codes.csv')
    lst = [int(id) for id in streams[streams['timeInterval']=='5 min']['streamId']]
    print(f'Streams = {lst}')
    return lst

if __name__ == '__main__':
    # Select streams & years to iterate over
    streamIds = get_streams()
    #streamIds = [336893, 335525, 327410, 337714, 337710, 337727, 338123, 326971, 326981, 338139, 336969, 336973, 336689, 335532, 327189, 322575, 327193, 336891, 335526, 327411, 337715, 337711, 337724, 338124, 326972, 326978, 338136, 336970, 336974, 336690, 335530, 327192, 322576, 327196]
    # Get NRG API token
    accessToken, tokenExpiry = pull_nrg_data.getToken()
    print(accessToken)
    # Cycle through months and write to DB
    df = []
    for id in streamIds:
        # print('--------------')
        # print(f'STREAM #{id}')
        # print('--------------')
        if datetime.now() >= tokenExpiry:
            accessToken, tokenExpiry = pull_nrg_data.getToken()
            # print(f'New token expires {tokenExpiry}:')
            print(accessToken)
        startDate = datetime.now().date() - timedelta(days=20)
        endDate = datetime.now().date() - timedelta(days=19)
        try:
            APIdata = pull_nrg_data.pull_data(startDate.strftime('%m/%d/%Y'), endDate.strftime('%m/%d/%Y'), id, accessToken, tokenExpiry)
            APIdata['timeStamp'] = pd.to_datetime(APIdata['timeStamp'])
            # Write data to DB
            df = pd.concat([df, APIdata], axis=1)
            # print(f'Stream #{id} successfully loaded')
        except:
            # print(f'Stream #{id} is empty')
            pass
        print(df)
    # Release token
    pull_nrg_data.release_token(accessToken)

In [31]:
streams = pd.read_csv('stream_codes.csv')
lst = [int(id) for id in streams[streams['timeInterval']=='5 min']['streamId'] if id > 300000]
print(f'Streams = {lst}')

Streams = [336893, 335525, 327410, 337714, 337710, 337727, 338123, 326971, 326981, 338139, 336969, 336973, 336689, 335532, 327189, 322575, 327193, 336891, 335526, 327411, 337715, 337711, 337724, 338124, 326972, 326978, 338136, 336970, 336974, 336690, 335530, 327192, 322576, 327196]

In [6]:
from datetime import datetime, date, timedelta
startDate = datetime.now().date() - timedelta(days=20)
endDate = datetime.now().date() - timedelta(days=19)
print(startDate.strftime('%m/%d/%Y'), endDate.strftime('%m/%d/%Y'))

06/14/2022 06/15/2022

In [9]:
datetime.now().date() - timedelta(days=1)

TypeError: 'years' is an invalid keyword argument for __new__()

In [24]:
# Clear table
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database=sql_schema,
                                         user=sql_user,
                                         password=sql_pw)
    cursor = connection.cursor()
    Delete_all_rows = """truncate table nrgdata"""
    cursor.execute(Delete_all_rows)
    connection.commit()
    print("All Record Deleted successfully ")

except mysql.connector.Error as error:
    print("Failed to Delete all records from database table: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

All Record Deleted successfully
MySQL connection is closed

In [3]:
# Release token
import certifi
import ssl
import http.client
server = 'api.nrgstream.com'

def release_token(accessToken):
    path = '/api/ReleaseToken'
    headers = {'Authorization': f'Bearer {accessToken}'}
    context = ssl.create_default_context(cafile=certifi.where())
    conn = http.client.HTTPSConnection(server,context=context)
    conn.request('DELETE', path, None, headers)
    res = conn.getresponse()
    print('token released')

accessToken = '6wopSd5xBdxawMLgoleflYS2NtmD2llHWsd2uzy35O1rth5B30Ua7fG3yGdccPInjEjGv7OTPXeozqzolyNfzBeXKBbUJMiCPeqN1M10cicg-ObI0iruND3BVp3LBbZFTc_KvmbeySLuTKIoIy-zHnCqhssDcNCYDbAkrNqUbZlq5_NV0XZRYmLnKEue-xLO-fY5jOMivJ296g4l7nwHxalb7qDPBRERphlwaJ4MwixC745L5NYpWO-WndxL7lNf6lfbT9wCTZwtwTJIc07u_otHt0o4mD9VqiV-Z7lJI8k1EI3uSSPSFwJhoabrv4-hxuo1-kek3BTj8h5CJFf4x0AUxjg'
release_token(accessToken)

token released

In [ ]:
# MySQL to Google BigQuery
# https://practicaldatascience.co.uk/data-engineering/how-to-import-data-into-bigquery-using-pandas-and-mysql

import os
import pandas as pd
from google.cloud import bigquery
from google.cloud.exceptions import NotFound
from sqlalchemy import create_engine

# Path to Google auth credentials
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = "/home/bulger/power-trader/google-big-query.json"

# Func to create database in BigQuery
def create_database(dataset_id, region_name):
    reference = bigquery.Client().dataset(dataset_id)
    try:
        bigquery.Client().get_dataset(reference)
    except NotFound:
        dataset = bigquery.Dataset(reference)
        dataset.location = region_name
        dataset = bigquery.Client().create_dataset(dataset)

# Insert from MySQL to BigQuery
def BQ_insert():
    # MySQL engine
    engine = create_engine(f'mysql+mysqlconnector://{sql_user}:{sql_pw}@localhost/{sql_schema}', echo=False)
    # MySQL query
    sql = 'SELECT * FROM nrgdata.nrgdata'
    # Creating dataframe from SQL query
    df = pd.read_sql(sql, con=engine)
    # Loading to BigQuery
    bigquery.Client().load_table_from_dataframe(df, 'nrgdata.nrgdata')

def BQ_select():
    sql = 'SELECT * FROM nrgdata.nrgdata'
    df = bigquery.Client().query(sql).to_dataframe()

# create_database('nrgdata','us-west1')
# BQ_insert()