In [6]:
import mysql.connector
import pandas as pd

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='nrgdata',
                                         user='victusai',
                                         password='#p!k4XG2Mg#,B,W')
    
    #query = """SELECT * FROM nrgdata"""
    query = """show tables"""
    cursor = connection.cursor(buffered=True)
    #print(cursor)
    result = cursor.execute(query)
    print(result)

except mysql.connector.Error as error:
    print("Failed: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

None
MySQL connection is closed

In [54]:
# Create table (template code)
import mysql.connector
import pandas as pd

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='nrgdata',
                                         user='victusai',
                                         password='#p!k4XG2Mg#,B,W')

    create_table_query = """CREATE TABLE stream_codes (
                            timeStamp DATETIME,
                            value FLOAT,
                            streamId INT,
                            assetCode VARCHAR(4),
                            streamName VARCHAR(50),
                            fuelType VARCHAR(20),
                            subfuelType VARCHAR(20),
                            timeInterval VARCHAR(5),
                            intervalType VARCHAR(7),
                            PRIMARY KEY (streamId))"""

    cursor = connection.cursor()
    result = cursor.execute(create_table_query)
    print("table created successfully")

except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

table created successfully
MySQL connection is closed

In [3]:
df = pd.read_csv('test.csv')
df

,timeStamp,value,streamId,assetCode,streamName,fuelType,subfuelType,timeInterval,intervalType
0,2021-01-01 00:00:00,0,41371,ENC1,Cloverbar #1,Natural Gas,Simple Gas,5 min,supply
1,2021-01-01 00:05:00,0,41371,ENC1,Cloverbar #1,Natural Gas,Simple Gas,5 min,supply
2,2021-01-01 00:10:00,0,41371,ENC1,Cloverbar #1,Natural Gas,Simple Gas,5 min,supply
3,2021-01-01 00:15:00,0,41371,ENC1,Cloverbar #1,Natural Gas,Simple Gas,5 min,supply
4,2021-01-01 00:20:00,0,41371,ENC1,Cloverbar #1,Natural Gas,Simple Gas,5 min,supply
...,...,...,...,...,...,...,...,...,...
8923,2021-01-31 23:35:00,0,41371,ENC1,Cloverbar #1,Natural Gas,Simple Gas,5 min,supply
8924,2021-01-31 23:40:00,0,41371,ENC1,Cloverbar #1,Natural Gas,Simple Gas,5 min,supply
8925,2021-01-31 23:45:00,0,41371,ENC1,Cloverbar #1,Natural Gas,Simple Gas,5 min,supply
8926,2021-01-31 23:50:00,0,41371,ENC1,Cloverbar #1,Natural Gas,Simple Gas,5 min,supply
8927,2021-01-31 23:55:00,0,41371,ENC1,Cloverbar #1,Natural Gas,Simple Gas,5 min,supply

In [4]:
# Insert dataframe into table
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

engine = create_engine('mysql+mysqlconnector://victusai:#p!k4XG2Mg#,B,W@localhost/nrgdata', echo=False)
df.to_sql(name='nrgdata', con=engine, if_exists = 'append', index=False)

8928

In [5]:
# Clear table
import mysql.connector

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='nrgdata',
                                         user='victusai',
                                         password='#p!k4XG2Mg#,B,W')
    cursor = connection.cursor()
    Delete_all_rows = """truncate table nrgdata"""
    cursor.execute(Delete_all_rows)
    connection.commit()
    print("All Record Deleted successfully ")

except mysql.connector.Error as error:
    print("Failed to Delete all records from database table: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

All Record Deleted successfully
MySQL connection is closed

In [49]:
# Release token
import certifi
import ssl
import http.client
server = 'api.nrgstream.com'

def release_token(accessToken):
    path = '/api/ReleaseToken'
    headers = {'Authorization': f'Bearer {accessToken}'}
    context = ssl.create_default_context(cafile=certifi.where())
    conn = http.client.HTTPSConnection(server,context=context)
    conn.request('DELETE', path, None, headers)
    res = conn.getresponse()
    print('token released')

accessToken = 'DJmYdE4h1bWiULz0HRIdZ8TcDCW0anmXvsfBEDxTWh9EEM5FnMY8VoHyPRNGECZL9A9KGLF8Kaej0syTr5Ll-FeqTKd_1yeLvejUFGTrdYM7v8PrkYU40E9p12z9C2PNja3m-nNAaljbAAiW8-NBLw7JdP3TMdaoYOa3GWOSiuHmOlq_rrRDTCktweHGsT52EckyfYJXJxDbIxSLP8krf0qiThf7ANFkS9ERwTJZzlyNa4YHVLbAIh_VgL3HO-iyRcJc1SacKzOWOsa0w719G7yTjuJZvbGsCjE8Fy4-fUyUDONF5SWrAxlgMvE5bOct28zQ43fcDi_Ns6S_my0pzzZSbCc'
release_token(accessToken)

token released